       body {
           display: flex;
           flex-direction: column;
       }

       .title {
           color: rgb(158, 78, 78);
           font-weight: bold;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: italic;
       }

       .btns,
       .img,
       .title {
           display: flex;
           justify-content: center;
       }

       button {
           padding: 10px 35px 10px 35px;
           margin-top: 1vw;
           border-radius: 15px;
           background-color: rgba(198, 235, 98, 0.788);
           color: rgb(219, 84, 152);
       }

       #prince {
           max-width: 50%;
           border-radius: 15px;
       }